.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 20px;
  margin-top: 100px;
}
.container {
  position: relative;
  z-index: 1;
  min-height: 370px;
  max-height: 370px;
  padding-left: 5%;
}
.form{
  width: 100%;
}
.heading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  z-index: 1;
}
.contactWrapper {
  background: rgba(0, 0, 0, 0.18);
  margin: 0 auto;
  border-radius: 35px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 50px;
}
.button{
  margin-top: 20px;
}
.header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
  padding-left:5%;
  padding-right:5%;
}
.inlineWrapper {
  display: flex;
  gap: 20px;
  width: 100%;
}
.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.message {
  width: 100%;
  border-radius: 10px;
  padding: 12px 15px;
  background-color: rgba(0, 0, 0, 0.18);
  color: #FFF8E7;
  border-width: 0px;
  outline: none; /* Remove default outline */
}
/* ContactUs.module.css */
.successMessage {
  color:#FFF8E7;
  font-size: 1em;
}
/* ContactUs.module.css */
.paragraphStyle {
  font-size: 1.1em; /* Adjust the font size as needed */
}

.button {
  font-size: 16px;
  background: var(--Primary-Default);
  border-radius: 10px;
  padding: 10px 15px;
  color: var(--Base-0);
  text-align: center;
  min-width: 169px;
}
.socialContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}
.logo {
  max-width: 44px;
  width: 100%;
}
.label {
  display: block;
  margin-bottom: 8px;
  font-size: 1em;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  color:#FFF8E7;
}
.input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--Base-3);
  background-color: rgba(0, 0, 0, 0.18);
  color: var(--Base-0);
  font-size: 16px;
  margin-bottom: 16px;
  font-family: "Work Sans", sans-serif;
}
.textarea{
  background-color: rgba(0, 0, 0, 0.18);
}
.error {
  color: red;
  font-size: 14px;
  margin-top: -12px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .inlineWrapper {
    flex-direction: column;
    gap: 16px 0;
  }
  .contactWrapper {
    padding: 32px;
  }
  .header {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .container {
    padding-left: 5%;
  }
}
@media only screen and (max-width: 520px) {
  .container {
    min-height: 280px;
    max-height: 280px;
    padding-left: 5%;
  }
  .contactWrapper {
    padding: 24px;
  }
}
@media only screen and (max-width: 399px) {
  .contactWrapper {
    padding: 20px;
  }
}
