.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 120px; /* Adjust this value to match the height of your navbar */
  margin-bottom: 60px;
}
.loadingWrapper {
  min-height: 100vh; /* Ensure it covers the entire viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #28313b 0.03%, #3f3a5d 101.47%);
}
.loadingText {
  font-size: 1em;
  color: #3d4a5a;
  animation: loadingAnimation 1s infinite ease-in-out;
}
.episodes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 18px;
}
.episode {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 35px;
}
.text {
  max-width: 98%;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  .wrapper {
    padding-top: 100px;
  }
  .episodes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 640px) {
  .episodes {
    grid-template-columns: repeat(1, 1fr);
    max-width: 450px;
    margin: 0 auto;
  }
  .episode {
    gap: 15px;
  }
}
